<div class="content">
  <!--  <img class="avatar-img" src="./assets/avatar.jpg" alt="Avatar" height="160">-->
  <p>Hello, my name is Egemen Çiftci. I am a Senior Software Engineer for ICRON in Istanbul, Turkey.</p>
  <p>I have over 10
    years of experience in .NET based technologies. I also develop with Angular and
    Typescript. </p>
  <p>I am addicted to learn new technologies, develop new ideas and construct well-defined structures.</p>
  <br/>
  <h3>Specialties:</h3>
  <ul>
    <li>Development in .NET based Technologies (C#, WPF, Silverlight, ASP.NET)</li>
    <li>Development in Angular (Typescript, Javascript, HTML, CSS)</li>
    <li>Kiosk Hardware (Touch Screen, Webcam, Magnetic Stripe Reader, Smart Card Reader, Thermal Printer, Barcode
      Reader)
    </li>
    <li>Kiosk Software</li>
    <li>Logistic Optimization</li>
    <li>Parallel Programming</li>
    <li>Face and License Plate Recognition</li>
    <li>Schools Interoperability Framework (SIF)</li>
  </ul>
</div>
