html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.content {
  padding: 80px 32px 8px 32px;
  min-height: calc(100vh - 129px);
}

.primary {
  background: #3f51b5;
}
